<%- include("../../partials/header.ejs") %>

    <body>

        <%- include("../../partials/navbar.ejs") %>


            <div class="container">

                <div class="card mt-4">
                    <div class="card-header">
                        <h2>Criação de Usuário</h2>
                    </div>
                    <div class="card-body">

                        <form action="/user/create" method="post">

                            <input type="email" class="form-control" name="email" placeholder="email@exemplo.com">
                            <input type="password" name="password" placeholder="******" class="form-control mt-2">

                            <button type="submit" class="btn btn-success btn-block mt-3">Criar</button>
                        </form>

                    </div>
                </div>

            </div>

    </body>
    <%- include("../../partials/footer.ejs") %>